bin/
obj/

# Игнорировать файлы пользовательских настроек
*.user

# Игнорировать папку .vs
.vs/

# Игнорировать файлы NuGet
packages/
*.nupkg

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать логи и результаты сборки
*.log
*.suo
*.cache
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
